
<div class="container row">
    <mat-card class="col-lg-4 col-md-6 col-sm-7 col-xs-10">
    
        <mat-card-title>Registrarse</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="registerUser($event)">
                <mat-form-field>
                    <input matInput placeholder="Correo Electronico" type="email" formControlName="email"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" formControlName="password"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Repetir Contraseña" type="password" formControlName="confirmpassword"/>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
                    Registrarse
                </button>
            </form>
        </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/auth/signin">¿Ya tienes cuenta?</button>
                
            </mat-card-actions>
    </mat-card>
    </div>
