
<div class="container row">
    <mat-card class="col-lg-4 col-md-6 col-sm-7 col-xs-10">
    
        <mat-card-title>Registrarse</mat-card-title>
        <mat-card-content>
            <form action="">
                <mat-form-field>
                    <input matInput placeholder="Correo Electronico" type="email" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Repetir Contraseña" type="password" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                    Registrarse
                </button>
            </form>
        </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/auth/signin">¿Ya tienes cuenta?</button>
                
            </mat-card-actions>
    </mat-card>
    </div>
