
<div class="container row">
    <mat-card class="col-lg-4 col-md-6 col-sm-7 col-xs-10">
    
        <div class="button-container">
            <button mat-mini-fab color="primary" routerLink="/auth/signin">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <mat-card-title>Reiniciar Contraseña</mat-card-title>
        <mat-card-content>
            <form action="">
                <mat-form-field>
                    <input matInput placeholder="Correo Electronico" type="email" />
                </mat-form-field>
               
                <button mat-raised-button color="primary" type="submit">
                    Enviar Correo con Instrucciones
                </button>
            </form>
        </mat-card-content>
           
    </mat-card>
    </div>
